<% include ./partials/header %>
<button onclick="fetchNewPosts()">Latest posts</button>

<input type="text" id="search">
<div id="search_results">
<div class="loader"></div>

</div>
<h1>Posts</h1>
<% posts.forEach((post)=>{ %>
<p id="<%=post._id %>">
    <h2><%= post.title %></h2>
    <h4><%=post.body %></h4>
    <% if(currentUser && currentUser    ._id.equals(post.author._id)) { %>
    <a href="/post/<%=post._id %>/edit">Edit</a>
    <form action="/post/<%= post._id %>?_method=DELETE" method="post">
    <input type="submit" value="delete"></form>
    <% } %>
    <h3>Created By<i><%= post.author.name %> </i></h3>
    <hr />
    <a href="/post/<%= post._id %>">View post</a>
</p>

<% }) %>
<% include ./partials/footer %>