<% include ./partials/header %>
<img src="/uploads/<%= user.photo %>" alt=`${user.name}`>
<h2><%= user.name %></h2>
<h3><%= user.email %></h3>
<% if(!currentUser._id.equals(user._id)){ %>
<a href="/addFriend/<%=user._id%>">Add friend</a>
<% } %>
<%= JSON.stringify(user.friends) %>
<% include ./partials/footer %>