<% include ./partials/header %>


<h1>Posts</h1>
<p id="<%=post._id %>">
    <h2><%= post.title %></h2>
    <h4><%=post.body %></h4>
    <% if(currentUser && currentUser._id.equals(post.author._id)) { %>
    <a href="/post/<%=post._id %>/edit">Edit</a>
    <form action="/post/<%= post._id %>?_method=DELETE" method="post">
    <input type="submit" value="delete"></form>
    <% } %>
    <h3>Created By<i><%= post.author.name %> </i></h3>
    <hr />
</p>
<p>
<a href="/post/<%=post._id %>/newComment">ADd a comment</a>
</p>
<% function commentShow(comments,postid){ %>
    <% comments.forEach((comment,index)=>{ %>
        <div class="container" style="border-left: 5px solid purple;margin-bottom: 25px;">
            <div class="row">
                <div class="col-sm-12 ">
                    </div><!-- /col-sm-12 -->
                    </div><!-- /row -->
                    <div class="row">
                        <div class="col-sm-1 offset-2">
                            <div class="thumbnail">
                                <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                            </div><!-- /thumbnail -->
                        </div><!-- /col-sm-1 -->

                    <div class="col-sm-5 offset-2">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                        `<strong><%=comment.author.name %></strong> <span class="text-muted">commented 5 days ago</span>
                        </div>
                        <div class="panel-body">
                            <%= comment.body %>
                        </div><!-- /panel-body -->
                    </div><!-- /panel panel-default -->
                </div><!-- /col-sm-5 -->
            </div><!-- /row -->
            <a href="/post/<%=postid %>/comment/<%=comment._id%>/newReply">Reply</a>
            <% if(comment.replies.length){ %>
            <% commentShow(comment.replies,postid) %>
            <% } %>

            </div><!-- /container -->
    <% }) %>
<% } %>

<p>
    <% commentShow(post.comments,post._id) %>
</p>


<% include ./partials/footer %>